askMyDocsSlack.json
{
  "name": "askMyDocsSlack",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "63382ff8-39e6-4854-80a3-da394073903e",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "hrbook",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        288,
        0
      ],
      "id": "c4b96f71-e4dc-4884-b3e0-c46b58b8aa63",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "yNTutLXT1919aIBy",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        160
      ],
      "id": "333a4661-a9d3-4df2-a322-989cc495a786",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "xwpDaFcCek6JpqFU",
          "name": "POAiOpen"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "textLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        432,
        256
      ],
      "id": "0e820f08-0fbf-4a5b-85c9-512f319662f5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 5000,
        "chunkOverlap": 550,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        384,
        384
      ],
      "id": "a12b15b5-859a-4706-9f5c-33c2df0f56cc",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        864,
        0
      ],
      "id": "a6c8c3f7-fcc4-4f83-beff-591ece30c282",
      "name": "When chat message received",
      "webhookId": "536cea17-c030-4ab4-8e2e-fd6d8c0957f8"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "hrbook",
          "mode": "list",
          "cachedResultName": "hrbook"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        1216,
        304
      ],
      "id": "b66560ef-ccf6-45e8-931b-771424bf1289",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "yNTutLXT1919aIBy",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1056,
        384
      ],
      "id": "ef0a6b8a-1f25-4077-8f64-2c019a6b0e69",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "pcj9FnNniRPWOiZG",
          "name": "POAiOpenAi"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.5,
      "position": [
        1072,
        0
      ],
      "id": "9637452e-0fd6-45fc-b556-507f8da830a2",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "topK": 8
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1408,
        176
      ],
      "id": "e764f5cc-b142-4f0c-bb26-9b4c6d5628d6",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1072,
        208
      ],
      "id": "16f924b6-2fec-4fca-b515-264e74916185",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pcj9FnNniRPWOiZG",
          "name": "POAiOpenAi"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aed4269c-20b2-4f61-8c54-31030ac4a60b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        864,
        160
      ],
      "id": "d28d0950-b76e-4b1e-9ae6-569d92a9d0fa",
      "name": "Webhook",
      "webhookId": "aed4269c-20b2-4f61-8c54-31030ac4a60b"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1WdiWoP8EIlsiYsH77WGVAMJBbbxUsbpg",
          "mode": "list",
          "cachedResultName": "hrPOAi.txt",
          "cachedResultUrl": "https://drive.google.com/file/d/1WdiWoP8EIlsiYsH77WGVAMJBbbxUsbpg/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        0
      ],
      "id": "da95c5d8-5cae-491a-b946-267df9a9802f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7tA4Xp26g9UBs3Wo",
          "name": "PlayGDriveClient"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').item.json.body.response_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.response }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        0
      ],
      "id": "6dc48510-b5bd-4e6f-8c56-f1f808e1dc97",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "91742bb9-0f3b-41ff-848c-b6caa7191016",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "74b7b485bf59e28f951297ba2d111d785ab7c99283741a57b8df203455882f71"
  },
  "id": "wbs12N8C9loyd3Uv",
  "tags": []
}