Load_Data_From_Dirve_to_Pinecone.json
{
  "name": "Load Data From Dirve to Pinecone",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1XZHeLq1GpYc2Tk4VEweJSAHz6iOhWwXT",
          "mode": "list",
          "cachedResultName": "Tesla",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1XZHeLq1GpYc2Tk4VEweJSAHz6iOhWwXT"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1020,
        -280
      ],
      "id": "4f964c1f-465b-46cc-9fab-f783092c36fa",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QLETRcTp9fNGhYl5",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -800,
        -280
      ],
      "id": "eb43428b-cb6a-4c15-9f7c-4d02323fb683",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "QLETRcTp9fNGhYl5",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8ncoursetsla",
          "mode": "list",
          "cachedResultName": "n8ncoursetsla"
        },
        "options": {
          "pineconeNamespace": "n8nyt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        -520,
        -280
      ],
      "id": "048b56c6-8dcb-42b4-a0d3-a60ac35b729c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "HLEvoNrvghCDtv9b",
          "name": "PineconeApi account 6"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -680,
        -40
      ],
      "id": "e286f495-71ca-48b7-aa3c-21ee4d69d178",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "CZy7z1wmyOjkcCMt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -460,
        -60
      ],
      "id": "eddf68d7-8dce-4697-aa3a-b93d242f27bb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 800,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -520,
        140
      ],
      "id": "2b714b29-dad7-4b61-8660-4afd5cf4b08f",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e0140011-65ba-4c6c-b91c-0b9af2448bd3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "89b105281bbd68a6414d6d9136ea2d8356bfecbbff4bc6634faaf45c0edbeb3f"
  },
  "id": "8Y1W4QgYwCGUmhLM",
  "tags": []
}