TelegramAiAgent.json
{
  "name": "TelegramAiAgent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -360,
        -100
      ],
      "id": "e6690922-eb17-48a6-bf76-56912cfea4d8",
      "name": "Telegram Trigger",
      "webhookId": "eff7beb9-3603-4988-9e20-6c69dad29c06",
      "credentials": {
        "telegramApi": {
          "id": "PcKaYsPrJm16F0fk",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant\n\n# you have tools:\n\n## search_agent\nuse this tool to search the web, hackernews and wikipedia\n\n## calculator\nuse this tool to do math"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -140,
        -100
      ],
      "id": "8d8ae084-ef53-46fc-9be5-c9149faa82be",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -180,
        140
      ],
      "id": "d52c66d5-99e6-4a0c-bd1d-d9252fe359c0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zHO6XatU7bilHoFh",
          "name": "OpenAiTelegramApi"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        220,
        -100
      ],
      "id": "7ce88770-04d9-4f65-a106-51219e557a8e",
      "name": "Telegram",
      "webhookId": "04149e09-72ec-4e64-8f61-a76f88996bf7",
      "credentials": {
        "telegramApi": {
          "id": "PcKaYsPrJm16F0fk",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -60,
        120
      ],
      "id": "ddab011b-c0e9-4e09-a593-7f99edfe7fee",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "use this tool to surch the web, wikipedia, hackernews and up-to-date info.",
        "workflowId": {
          "__rl": true,
          "value": "YCy7QXh8B1vsIJc2",
          "mode": "list",
          "cachedResultName": "TelegramAiAgentSub"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        120,
        120
      ],
      "id": "64c827a3-9365-42d6-9c6d-b2b63fa2fb36",
      "name": "search_agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "search_agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c4422d21-0b2a-4882-9620-3f6939c1cb1b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04144b620fb84cc55e184d551ed7511bed7582232de92f9af6147f2d41680d52"
  },
  "id": "3ofjj3lTcpNuqJlM",
  "tags": []
}