TranscribingText2AudioGDrive.json
{
  "name": "TranscribingText2AudioGDrive",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1p74VacxVgYnfoU_9D86J9fch5I_QJEej",
          "mode": "list",
          "cachedResultName": "Text",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1p74VacxVgYnfoU_9D86J9fch5I_QJEej"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        -300
      ],
      "id": "b0972a5f-e060-4ec0-8ada-8fd04f5ac3a7",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Tdvy49I6XK1hbk5y",
          "name": "PlayGDriveClient"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -760,
        -300
      ],
      "id": "0ab9b64d-7f4d-4b3f-a5ce-af934ec14848",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Tdvy49I6XK1hbk5y",
          "name": "PlayGDriveClient"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -540,
        -300
      ],
      "id": "75a2e8ed-deea-4a42-bb02-9c1db1590401",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.data }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -320,
        -300
      ],
      "id": "0ae74c94-5fa7-440b-8cca-665973081cfd",
      "name": "Generate AudioBn",
      "credentials": {
        "openAiApi": {
          "id": "CZy7z1wmyOjkcCMt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Google Drive Trigger').item.json.name.replace(/\\.txt$/i, '.mp3') }}\n",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1PMktmVj_JUQswebPC0smQEhUuaFaUMKq",
          "mode": "list",
          "cachedResultName": "TranscribedAudio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1PMktmVj_JUQswebPC0smQEhUuaFaUMKq"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -100,
        -300
      ],
      "id": "f6bad65f-f6a5-48b6-aece-9ed3b79b7d1e",
      "name": "GDriveUploadAudio",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Tdvy49I6XK1hbk5y",
          "name": "PlayGDriveClient"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Generate AudioBn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AudioBn": {
      "main": [
        [
          {
            "node": "GDriveUploadAudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "64be2a05-0d68-4754-a254-fb68bdf10eec",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "89b105281bbd68a6414d6d9136ea2d8356bfecbbff4bc6634faaf45c0edbeb3f"
  },
  "id": "k75ZUbveJvjWN0V6",
  "tags": []
}