TranscribingAudioTranslateToGDrive.json
{
  "name": "TranscribingAudioTranslateToGDrive",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -860,
        -180
      ],
      "id": "c80cadcb-fe31-4ae5-b048-ad621f4d41bf",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "17C2851pLkkQv4rWsiOcEZ2cLuvjSvGsv",
          "mode": "list",
          "cachedResultName": "TranscribingEn.mp3",
          "cachedResultUrl": "https://drive.google.com/file/d/17C2851pLkkQv4rWsiOcEZ2cLuvjSvGsv/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -640,
        -180
      ],
      "id": "38f50d24-d926-4a03-bf3b-9bf707b73ebb",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Tdvy49I6XK1hbk5y",
          "name": "PlayGDriveClient"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -420,
        -180
      ],
      "id": "52f5b56f-94d1-44ed-9196-5a95dea45714",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "CZy7z1wmyOjkcCMt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "Translate text to Bangla"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -200,
        -180
      ],
      "id": "bb105930-16f0-42d9-87c5-c7cda1cf928b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -280,
        60
      ],
      "id": "ee06547a-f005-4e5e-b716-7ed796f0256e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CZy7z1wmyOjkcCMt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text }}",
        "voice": "nova",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        160,
        -180
      ],
      "id": "dde50173-73f8-4353-a5c7-ba2ccec333cb",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "CZy7z1wmyOjkcCMt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "=bn_{{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1C-dD1VQGQ5chRXI5gynepFdCaoTRekFR",
          "mode": "list",
          "cachedResultName": "audio",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1C-dD1VQGQ5chRXI5gynepFdCaoTRekFR"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        380,
        -180
      ],
      "id": "23d665c1-1c10-4ce0-9178-67432efcd027",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Tdvy49I6XK1hbk5y",
          "name": "PlayGDriveClient"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8214fb97-5f8d-4c22-ac5a-ffee98e077ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "89b105281bbd68a6414d6d9136ea2d8356bfecbbff4bc6634faaf45c0edbeb3f"
  },
  "id": "XnBTKcbuFJ6S90w5",
  "tags": []
}